@import 'main.scss';

.cd-main-list {
  margin-top: 80px;
  @include sm {
    margin-top: 50px;
  }
  &__outer {
    display: block;
    margin: 10px;
    max-width: 70%;
    margin: 0 auto;
    @include sm {
      max-width: 90%;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    @include sm {
      border-bottom: 1px solid $color-borders;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .form-group {
    margin: 10px 5px;
    @include sm {
      width: 100%;
    }
  }
  .form-group:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
  .form-group:nth-child(4) {
    display: flex;
    flex-direction: row-reverse;
  }
  .form-group:nth-child(4) {
    display: flex;
    flex-direction: row-reverse;
  }
  .form-group:nth-child(5) {
    display: flex;
    flex: 1 1 100%;
    margin: 20px 0;
  }
  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearence: none;
    direction: ltr;
    margin-left: auto;
    background: #fafafa url($select-arrow);
    background-repeat: no-repeat;
    background-size: 260px 28px;
    padding-left: 10px;
    @include sm {
      margin-top: 20px;
    }
    select:focus {
      outline: none;
    }
  }
  textarea {
    width: 380px;
    height: 50px;
    @include sm {
      width: 95%;
      height: 40px;
    }
  }
}

::ng-deep pagination-controls {
  .ngx-pagination {
    text-align: center;
    margin: 20px 0;
    margin-bottom: 50px;
    .current {
      background: $color-primary-light;
    }
  }
}

::ng-deep app-button {
  button.cd-button:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

::ng-deep app-input {
  input {
    @include sm {
      width: 95%;
    }
  }
}
