@import 'main.scss';

.cd-card {
    margin: 0 auto;
    padding: 15px;
    border: 1px solid $color-borders;
    margin-top: 20px;

    @include sm {
        max-width: 85%;
    }
    &__outer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__image {
        width: 50px;
    }
    &__inner-description {
        margin-left: 15px;
    }
}
