// GENERIC - colors
$color-primary: #226fbe !default;
$color-primary-light: lighten($color-primary, 20%) !default;
$color-primary-lighter: lighten($color-primary, 65%) !default;
$color-secondary: #f6c364 !default;
$color-secondary-light: lighten($color-secondary, 20%);
$color-secondary-lighter: lighten($color-secondary, 65%);
$color-warning: #cf5252 !default;
$color-success: #61be49 !default;
$color-white: #fff !default;
$color-black: #24282b !default;
$color-borders: #ccc !default;
$color-black-light: lighten($color-black, 20%) !default;

// // Generic - Layout
$height-form-elements: 30px;
$font-size-main: 1.25em;
$font-size-labels: 1.09em;
$font-size-inputs: 0.7em;
