<div class="cd-main-list">
    <div class="cd-main-list__body">
        <form
            class="cd-form"
            [formGroup]="documentsForm"
            (ngSubmit)="documentsForm.valid && create()"
            autocomplete="off"
        >
            <div class="form-group">
                <app-label [text]="'Document title'"></app-label>
                <app-input
                    [type]="'text'"
                    [id]="'title'"
                    [name]="'title'"
                    [control]="'title'"
                    [placeholder]="'title'"
                ></app-input>
            </div>
            <div class="form-group">
                <app-label [text]="'Document text'"></app-label>
                <app-input
                    [type]="'text'"
                    [id]="'text'"
                    [name]="'text'"
                    [control]="'text'"
                    [placeholder]="'text'"
                ></app-input>
            </div>
            <div class="form-group">
                <app-label [text]="'Date'"></app-label>
                <app-input
                    [type]="'date'"
                    [id]="'date'"
                    [name]="'date'"
                    [control]="'date'"
                    [placeholder]="'date'"
                ></app-input>
            </div>
            <div class="form-group">
                <app-label [text]="'Load image'"></app-label>
                <app-input
                    [type]="'file'"
                    [id]="'imagePath'"
                    [name]="'image'"
                    [control]="'imagePath'"
                    [placeholder]="'image'"
                ></app-input>
            </div>
            <div class="form-group">
                <app-button
                    [type]="'submit'"
                    [disabled]="!documentsForm.valid"
                    [text]="'Create Document'"
                >
                </app-button>
            </div>
        </form>
        <div class="cd-list">
            <div class="cd-list__body">
                <!-- create dinamyc card components -->
                <app-card-doc
                    *ngFor="let doc of documents; let i = index"
                    [document]="doc"
                    [index]="i"
                ></app-card-doc>
            </div>
        </div>
    </div>
</div>
